body{
    height:100vh;
    margin:0;}


.bg2{
background-image: url(heart_bg.png);
background-size: contain;
background-repeat: no-repeat;
background-color: #EBDAFE;
background-position: center;
}

.bg1{
background-image: url(black_bg.jpeg);
background-size: contain;
background-repeat: repeat;
background-position: center;
}


@keyframes text1{
    0%{font-size: 3rem;}
    50%{font-size: 4rem;}
    100%{font-size: 3rem;}
}

.heading1{animation: text1 2s ease-in-out infinite;}


.heading1{
text-shadow: 3px 3px 5px black;
font-size: 5rem;
color: rgb(157, 16, 16);
text-align: center;
}

@keyframes text2{
    0%{font-size: 3rem;}
    50%{font-size: 4rem;}
    100%{font-size: 3rem;}
}

.heading2{animation: text2 2s ease-in-out infinite;}

.heading2{
text-shadow: 1px 1px 2px rgb(82, 0, 0);
font-family: cursive;
font-size: 5rem;
color: rgb(10, 10, 86);
text-align: center;
}

.show{
    display: block;
}
.hide{
        display: none;
}
#element{

    position:relative;
    width:100%;
    height:100vh;}


.heart{
    width: 30%;
    position: absolute;

    left: 35%;
   }

.bow{
    height: auto;
    width: 30%;
    max-width: 300px;
    position: absolute;
    top:10%;
  }

.flower{
height: auto;
width: 30%;
max-width: 300px;
position: absolute;
bottom:30%;
right:2%;
}

@keyframes bow{
    from{ transform: rotate(-15deg); }
    to{ transform: rotate(15deg); }
}

.bow{
    animation: bow 2s ease-in-out infinite alternate;
}

@keyframes flower{
    from{transform: scale(0.9);}
    to{transform: scale(1);}
}

.flower{ animation: flower 2s ease-in-out infinite alternate;}

